@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-["Open_Sans"];
  }

  h1 {
    @apply text-5xl;
  }

  h3 {
    @apply text-3xl;
  }
}

@layer utilities {
  .cell {
    @apply flex aspect-square h-full items-center justify-center text-[100%];
  }

  .header-cell {
    @apply bg-zinc-900 font-semibold text-zinc-300;
  }
}

html,
body {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
